
/*=======model css==========*/

/*轮播图*/
.wwx_banner{
    overflow: hidden;
    margin-top: 10px;
}
.wwx_banner>div{
    border-radius: 10px;
    overflow: hidden;
}
.wwx_banner .pc_imgBox {
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.wwx_banner .m_imgBox {
    display: block;
    width: 100%;
}

.wwx_banner .m_imgBox img {
    display: block;
    width: 100%;
}
.wwx_main{
    height: 100%;
    margin-top: 15px;
}
.wwx_main .main_left{
    overflow: hidden;
}
.wwx_main .main_right{
    float: right;
    width: 290px;
    height: 500px;
    margin-left: 15px;
}
.wwx_main .main_right .widget{
    background: #fff;
    border-radius: 5px;
}
.wwx_main .main_right .widget .widget_tit{
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px solid #eaeaea;
    padding: 11px 15px 14px;
}
.wwx_main .main_right .widget .widget_list{

}
.wwx_main .main_right .widget .widget_list ul{
    list-style: none;
    padding: 20px;
}
.wwx_main .main_right .widget .widget_list ul li{
    display: inline-block;
    background: #fff;
    float: left;
    margin-right: 8px;
    margin-bottom: 15px;
}
.wwx_main .main_right .widget .widget_list ul li a{
    color: #666;
    font-size: 12px;
    display: block;
    padding: 4px 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.wwx_main .main_right .widget .widget_list ul li:hover a{
    color:#42b983;
    border: 1px solid #42b983;
}

.wwx_main .main_right .out_link{
    margin-top: 15px;
}
.wwx_main .main_right .out_link .out_link_list ul{
    list-style: none;
    padding: 20px;
}
.wwx_main .main_right .out_link .out_link_list ul li{
    width: 45%;
    display: inline-block;
    padding: 4px 14px;
    border: 1px solid #42b983;
    background: #fff;
    font-size: 12px;
    float: left;
    margin-right: 8px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}
.wwx_main .main_right .out_link .out_link_list ul li a{
    color: #42b983;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
}
.wwx_main .main_right .out_link .out_link_list ul li:hover{
    border-radius: 17px 0 17px 0;
    background: #42b983;
}
.wwx_main .main_right .out_link .out_link_list ul li:hover a{
    color:#fff;
}
    /*产品*/
.wwx_product {
    padding: 20px 0;
    background: #fff;
}

.wwx_product .nav-tabs-parent {
    width: 100%;
    overflow: hidden;
}

.wwx_product .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.wwx_product .nav-tabs > li {
    float: left;
    margin-bottom: 0;
    margin-left: 15px;
}

.wwx_product .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px 4px 0 0;
}

.wwx_product .nav-tabs > li > a:hover {
    background: #f5f5f5;
}

.wwx_product .nav-tabs > li.active > a,
.wwx_product .nav-tabs > li.active > a:hover,
.wwx_product .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    border: none;
    border-bottom: 3px solid #e92322;
}

.wwx_product .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.wwx_product .nav-tabs.nav-justified > li {
    float: none;
}

.wwx_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}

.wwx_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .wwx_product .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .wwx_product .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}

.wwx_product .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.wwx_product .nav-tabs.nav-justified > .active > a,
.wwx_product .nav-tabs.nav-justified > .active > a:hover,
.wwx_product .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .wwx_product .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }

    .wwx_product .nav-tabs.nav-justified > .active > a,
    .wwx_product .nav-tabs.nav-justified > .active > a:hover,
    .wwx_product .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.product_box {
    display: block;
    width: 100%;
    height: 100px;
    background: #fbfbfb;
    box-shadow: 3px 3px 5px #d8d8d8;
    margin-top: 20px;
    color: #666;
}


.product_box .pro_left {
    width: 50px;
    height: 100px;
    float: left;
}
.product_box .pro_left img{
    display: block;
    margin-top:25px;
}
.product_box .pro_right{
    padding: 10px;
    overflow: hidden;

}
.product_box .pro_right h4{
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease;
  }
.product_box:hover .pro_right h4{
   color:#e92322;
}
.product_box .pro_right p{
    height: 60px;
    font-size: 12px;
    line-height: 20px;
    color:#999;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

/*新闻版块*/
.wwx_news {
    margin-top: 15px;
    background: #fff;
    padding-top: 20px;
}
.wwx_news .wwx_news_title{
    padding-left: 20px;
    line-height: 20px;
    height: 40px;
    border-bottom: 1px solid #ddd;
}
.wwx_news .excerpt{
    height: 150px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.wwx_news .excerpt:hover{
    background-color: #fafff8;
}
.wwx_news .focus{
    float: left;
    margin-right: 20px;
}
.wwx_news .focus a.thumbnail:hover{
    border-color:#e92322;
}
.wwx_news .focus img{
    height: 100px;
}
.wwx_news header{
    margin: 5px 0;
}
.wwx_news header h2{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wwx_news header a{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color:#555;
    transition: all 0.3s ease;
}
.wwx_news header:hover a{
    color:#e92322;
}
.wwx_news .note{
    font-size: 14px;
    color:#888;
    height: 70px;
    line-height: 23.333px;
    overflow: hidden;
}
.wwx_news .muted{
    font-size: 12px;
    color:#aaa;
    margin-right: 20px;
}
@media (max-width: 768px){
    .wwx_news .muted{
        margin-right: 5px;
    }
}
/*合作伙伴*/