<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <meta name="shot">
    <title>温星博客</title>
    <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/static/lib/html5shiv/html5shiv.min.js"></script>
    <script src="/static/lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body id="bd">
<!--导航栏-->
<nav class="navbar wwx_nav" data-spy="affix" data-offset-top="200">
    <!--导航的内容容器-->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/static/images/bigLogo.png" alt="" id="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">主页</a></li>
                <li><a href="#">关于我</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">交流学习<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">js</a></li>
                        <li><a href="#">php</a></li>
                        <li><a href="#">工程法律</a></li>
                        <li><a href="#">工程经济</a></li>
                        <li><a href="#">工程管理</a></li>
                        <li><a href="#">工程实务</a></li>
                    </ul>
                </li>
                <li><a href="#">心灵鸡汤</a></li>
                <li><a href="#">娱乐段子</a></li>
                <li><a href="#">留言</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="user-center hidden"><a href="#">个人中心</a></li>
                <li class="user login"><a href="" class="btn btn-default btn-primary">登录</a></li>
                <li class="user register"><a href="" class="btn btn-default btn-danger">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--轮播图-->
<section class="wwx_banner container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!--点盒子-->
        <ol class="carousel-indicators">

        </ol>
        <div class="carousel-inner">

        </div>

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</section>
<section class="wwx_main container">
    <div class="main_right hidden-sm hidden-xs">
        <!--热门搜索-->
        <aside class="widget hot">
            <h4 class="widget_tit">热门标签</h4>
            <div class="widget_list">
                <ul class="clearfix">
                    <li><a href="">ajax</a></li>
                    <li><a href="">h5c3</a></li>
                    <li><a href="">桥梁</a></li>
                    <li><a href="">城市轨道交通工程</a></li>
                    <li><a href="">垃圾填埋场</a></li>
                    <li><a href="">城市道路</a></li>
                    <li><a href="">城镇管道</a></li>
                    <li><a href="">工程招投标</a></li>
                    <li><a href="">工程劳动合同法</a></li>
                </ul>
            </div>
        </aside>
        <!--随便外链-->
        <aside class="widget out_link">
            <h4 class="widget_tit">外部链接</h4>
            <div class="out_link_list">
                <ul class="clearfix">
                    <li><a href="https://www.baidu.com/">百度</a></li>
                    <li><a href="https://weibo.com/">新浪微博</a></li>
                    <li><a href="https://music.163.com/">网易云</a></li>
                    <li><a href="https://www.taobao.com/">淘宝</a></li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="main_left">
        <!--产品-->
        <section class="wwx_product clearfix">
                <div class="nav-tabs-parent">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#product_nav01" data-toggle="tab">特别推荐</a></li>
                        <li><a href="#product_nav02" data-toggle="tab">js</a></li>
                        <li><a href="#product_nav03" data-toggle="tab">php</a></li>
                        <li><a href="#product_nav04" data-toggle="tab">工程法律</a></li>
                        <li><a href="#product_nav05" data-toggle="tab">工程经济</a></li>
                        <li><a href="#product_nav06" data-toggle="tab">工程管理</a></li>
                        <li><a href="#product_nav07" data-toggle="tab">心灵鸡汤</a></li>
                    </ul>
                </div>
                <!-- 内容 -->
                <div class="tab-content">
                    <div class="tab-pane active" id="product_nav01">
                        <div class="col-xs-12 col-sm-6">
                        <a href="javascript:;" class="product_box active">
                            <div class="pro_left">
                                <img src="/static/images/smalllogo.png" alt="">
                            </div>
                            <div class="pro_right">
                                <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                            </div>

                        </a>
                    </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="javascript:;" class="product_box active">
                                <div class="pro_left">
                                    <img src="/static/images/smalllogo.png" alt="">
                                </div>
                                <div class="pro_right">
                                    <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                                    <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                                </div>

                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="javascript:;" class="product_box active">
                                <div class="pro_left">
                                    <img src="/static/images/smalllogo.png" alt="">
                                </div>
                                <div class="pro_right">
                                    <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                                    <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                                </div>

                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="javascript:;" class="product_box active">
                                <div class="pro_left">
                                    <img src="/static/images/smalllogo.png" alt="">
                                </div>
                                <div class="pro_right">
                                    <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                                    <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                                </div>

                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="javascript:;" class="product_box active">
                                <div class="pro_left">
                                    <img src="/static/images/smalllogo.png" alt="">
                                </div>
                                <div class="pro_right">
                                    <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                                    <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                                </div>

                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="javascript:;" class="product_box active">
                                <div class="pro_left">
                                    <img src="/static/images/smalllogo.png" alt="">
                                </div>
                                <div class="pro_right">
                                    <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                                    <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                                </div>

                            </a>
                        </div>
                    </div>
                    <div class="tab-pane" id="product_nav02">2</div>
                    <div class="tab-pane" id="product_nav03">3</div>
                    <div class="tab-pane" id="product_nav04">4</div>
                    <div class="tab-pane" id="product_nav05">5</div>
                    <div class="tab-pane" id="product_nav06">6</div>
                    <div class="tab-pane" id="product_nav07">7</div>
                </div>

        </section>
        <!--新闻-->
        <section class="wwx_news clearfix">
            <h4 class="wwx_news_title">最新发布</h4>
            <div>
                <ul>
                    <li class="excerpt">
                        <div class="focus">
                            <a href="javascript:;" class="thumbnail" target="_blank">
                                <img src="/static/images/smalllogo.png" ></a>
                        </div>
                        <header>
                            <h2>
                                <a href="javascript:;" title="工程法律" target="_blank">工程法律</a></h2>
                        </header>
                        <p class="note">陈印大师</p>
                        <p style="margin-top:40px;">
              <span class="muted">
                <i class="glyphicon glyphicon-user"></i> 温星 </span>
                            <span class="muted">
                <i class="glyphicon glyphicon-time"></i> 2019-07-20</span>
                            <span class="muted">
                <i class="glyphicon glyphicon-eye-open"></i>  0次浏览</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="excerpt">
                        <div class="focus">
                            <a href="javascript:;" class="thumbnail" target="_blank">
                                <img src="/static/images/smalllogo.png" ></a>
                        </div>
                        <header>
                            <h2>
                                <a href="javascript:;" title="工程法律" target="_blank">工程法律</a></h2>
                        </header>
                        <p class="note">陈印大师</p>
                        <p style="margin-top:40px;">
              <span class="muted">
                <i class="glyphicon glyphicon-user"></i> 温星 </span>
                            <span class="muted">
                <i class="glyphicon glyphicon-time"></i> 2019-07-20</span>
                            <span class="muted">
                <i class="glyphicon glyphicon-eye-open"></i>  0次浏览</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="excerpt">
                        <div class="focus">
                            <a href="javascript:;" class="thumbnail" target="_blank">
                                <img src="/static/images/smalllogo.png" ></a>
                        </div>
                        <header>
                            <h2>
                                <a href="javascript:;" title="工程法律" target="_blank">工程法律</a></h2>
                        </header>
                        <p class="note">陈印大师</p>
                        <p style="margin-top:40px;">
              <span class="muted">
                <i class="glyphicon glyphicon-user"></i> 温星 </span>
                            <span class="muted">
                <i class="glyphicon glyphicon-time"></i> 2019-07-20</span>
                            <span class="muted">
                <i class="glyphicon glyphicon-eye-open"></i>  0次浏览</span>
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>
<!--版权-->
<footer class="wwx_partner">
    <ul>
        <li><a href="">Copyright © 2019, wenwenxing All Rights Reserved.</a> </li>
    </ul>
</footer>
<!--模板-->
<!--轮播图-->
<script type="text/x-artTemplate" id="pointTemplate">
    <% for (var i=0; i < list.length; i++){%>
    <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%=i==0?'active':'' %>"></li>
    <% } %>
</script>
<script type="text/x-artTemplate" id="imageTemplate">
    <% for (var i=0; i < list.length; i++){%>
    <div class="item <%=i==0?'active':'' %>">
        <%if(isMobile){%>
        <a href="javascript:;" class="m_imgBox"><img src="<%=list[i].banner.mUrl%>" alt=""></a>
        <% }else{ %>
        <a class="pc_imgBox" href="javascript:;" style="background-image: url(<%=list[i].banner.pcUrl%>)"></a>
        <% } %>
    </div>
    <% } %>

</script>
<!--navbar-->
<script type="text/x-artTemplate" id="navTabsTemplate">
    <li class="active"><a href="#product_nav01" data-toggle="tab">特别推荐</a></li>
    <% for (var i=0; i < list.length; i++){%>
    <li><a href="#product_nav<%=(i+2)<10?'0'+(i+2):(i+2)%>" data-toggle="tab"><%=list[i].type_name%></a></li>
    <%}%>
</script>
<script src="/static/lib/artTemplate/template-native.js"></script>
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/iscroll/iscroll.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>